.container{
    background-color: black;
    border: 1px solid red;
    grid-template-columns: 1fr;
}

.container div{
    color: white;
    text-align: center;
    background-color: #ccc;
    border: 1px solid blueviolet;
}

.duo{
    display: grid;
    grid-template-columns: 1fr 1fr;
}