/*
- Utilizar grid para montar o layout geral da pagina
- É possível fazer grid dentro de grid
- Nunca utilizar somente Grid
- Flexbox foi recomendado para organizar o resto
*/

.container{
    /*Display grid não muda nada*/
    display: grid;
    background: rgb(116, 116, 204);
    border: 1px solid red;
    padding: 15px;

    /* Propriedades */
    grid-template-columns: 100px 150px 200px; /*Cada parametro corresponde a uma coluna dependendo a quantidade inserida de parametros*/
    grid-template-rows: 250px 100px 30px;
}

.container div{
    background: white;
    padding: 20px;
    border: 1px solid blue;
}