.container{
    display: grid;
    color: white;
    border: 1px solid red;
    gap: 5px;
    background-color: black;
    grid-template-areas: 'header header header header' 
    'sidebar content content content'
    'sidebar footer footer footer'
    ;
}

#header{
    grid-area: header;
}

#sidebar{
    grid-area: sidebar;
}

#content{
    grid-area: content;
}

#footer{
    grid-area: footer;
}

.container div{
    background: #ccc;
    padding: 20px;
    border: 1px solid blueviolet;
}