*{
    margin: 0;
    padding: 0;
    list-style: none; /*Tira a bolinha do começo*/
    text-decoration: none; /*Tira o sublinhado dos links*/
}

body{
    font-family: 'Poppins', sans-serif;
    background: var(--bg-color);
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

nav .Menu{
    display: flex;
    background: var(--white-color);
    height: 50rem;
    width: 25rem;
    flex-wrap: wrap;
    gap: 1rem;
    padding: 1rem;
    box-shadow: 2rem 2rem 2rem var(--white-color-light); /*Fez o sombreamento*/
    border-radius: 2rem; /*Arredondou as bordas*/
}

nav .Menu li:hover {
    background: var(--primary-color)
}

nav .Menu li{
    width: 100%;
    padding: 2rem;
    transition: 0.5s;
}

nav .Menu li a i{
    font-size: 1.5rem;
}
nav .Menu li a{
    display: flex;
    gap: 0.3rem;
}

nav .Menu li :hoover{
    background: var(--white-color);
}


:root{ /*Declaração de variáveis*/
    --bg-color: rgb(14, 124, 115);
    --primary-color: rgb(219, 27, 219);
    --primary-color-light: rgb(28, 104, 175);
    --white-color: #fff;
    --white-color-light: rgb(56, 53, 53);
}

html{
    font-size: 62,5%; /*Tipo de medida, equivale a 10px e equivale a 1 Rem*/
}

h1{
    font-size: 3rem; /*1 rem equivale aos 10px declarados no HTML, se mudar a proporção lá o Rem passará a ter outro valor*/
}

h3{
    font-size: 1rem;
}

/*Pra criar váriaveis, se usa o root*/