body{
    height: 100%;
    width: 100%;
    margin: 0 auto;
    min-width: 240px;
    min-height: 320px;
}

.all{
    display: flex;
}

:root{ /*Declaração de variáveis*/
    --blue-color: rgb(29, 157, 207);
    --violet-color: rgb(219, 67, 219);
    --white-black: rgb(230, 228, 228);
    --white-color: #fff;
    --orange-color: rgb(247, 172, 86);
    --green-color: rgb(45, 170, 41);
    --roxo-italico: rgb(189, 164, 189);
    --cinza-letra: rgb(240, 240, 240);
    --verde-letra: rgb(233, 255, 241);
    --background-word-green: rgb(79, 250, 165);
    --red-word: rgb(255, 0, 0);
    --background-word-red: rgb(255, 179, 179);
}

html{
    font-size: 67,5%;
}

nav{
    border: solid black;
    height: 35rem;
    width: 10rem;
    background-color: var(--white-color);
}

.content{
    display: flex;
}

.container{
    background-color: var(--white-black);
    height: 35rem;
    width: 65rem;
}

.caixas{
    display: flex;
    /*justify-content: center;*/
    margin-left: 11rem;
    margin-right: 11rem;
    margin-top: 2rem;
    justify-content: space-between;
}

.box1{
    background-color: var(--roxo-italico);
    height: 11rem;
    width: 20rem;
}

#caixa2{
    height: 5rem;
    width: 10rem;
    background-color: var(--green-color);
    margin-bottom: 1rem;
}

#caixa3{
    height: 5rem;
    width: 10rem;
    background-color: var(--violet-color);
}
#caixa4{
    height: 5rem;
    width: 10rem;
    background-color: var(--blue-color);
    margin-bottom: 1rem;
}
#caixa5{
    height: 5rem;
    width: 10rem;
    background-color: var(--orange-color);
}

.tables{
    display: flex;
    justify-content: space-between;
    margin: 1rem;
    margin-left: 2rem;
    margin-right: 2rem;
}

#paid{
    color: var(--verde-letra);
    background-color: var(--background-word-green);
    border-radius: 0.5rem;
}

#unpaid{
    border-radius: 0.5rem;
    background-color: var(--background-word-red) ;
    color: var(--red-word);
}

.boxtable1{
    background-color: var(--white-color);
}

.divcabecalhos{
    display: flex;
    justify-content: space-between;
    
}

.headcabecalho1{
    display: flex;
    justify-content: space-between;
    width: 34rem;
    margin-left: 3rem;
    margin-top: 1rem;
}


.headcabecalho2{
    margin-right: 18rem;
    margin-top: 1rem;
}

.boxtable2{
    background-color: rgb(255, 255, 176);
}


@media only screen and (...) {
    
}